/*Load*/
.loadBox 
{
    z-index:2001!important;
	position: fixed; top: 50%; left: 50%; width:230px; height:68px; margin-top: -7px; margin-left: -115px; padding:10px 0; border:1px solid #ccc; font:700 14px Tahoma; text-align:center; background:#FFF url(https://jbsystems.com.br/iControl/img/ajax-loader.gif) center 15px no-repeat;
 	/*bordas arredondadas*/
    -moz-border-radius: 5px; /* Para Firefox */
    -webkit-border-radius: 5px; /*Para Safari e Chrome */
     border-radius: 5px; /* Para Opera 10.5+*/
 
	/*sombra*/
	-moz-box-shadow: 0 1px 4px 1px #CCC; 
	-webkit-box-shadow: 1px 1px 5px #CCC;
	box-shadow: 1px 1px 5px #CCC;
	
}
 
.loadBox p {padding:0; +padding-top:5px;/*IE7*/ margin-top:26px; margin-bottom:0px; color:#000}

.loadShadow 
{
    background: #ffffff 50% 50% repeat; 
    opacity: .75;
    filter:Alpha(Opacity=75); 
    position:fixed;
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%;
    z-index:2000!important;
}

.showBlink span {transition: color 200ms ease; display: inline-block; margin: 0px 10px 0px 10px;}
.showBlink.blink {color:transparent;}

.class1
{
    color: white;
    font-weight:bold;
       
}

.classInLine 
{
    display: inline-block;
    text-align:center;
}

.xcolSpan tr
{

}
